<html>
<h2>Twitter Stream</h2>

<b>Hello Everybody, this is with  our awesome twitter app Thanks for visiting by!  
Here is your twitter stream- </b>
<br>
<table class ="table" border =2>
<% @stream.each do |tweet| %>

  <tr>
      <td><img src = " <%= tweet.user.profile_image_url %> " ></td></img>
      <td><%= auto_link(tweet.full_text).html_safe %>
      <!--<td><%= tweet.retweeters_count %></td> !-->
      
      <table>
      	<td><%= image_tag("reply.png", :alt => "Reply") %>Reply</td>
      	<td><%= image_tag("favorite.png", :alt => "Favorite") %>Retweet</td>
        <td><%= image_tag("retweet.png", :alt => "Reply") %>Favorite</td>
      </table></td>
      <td><%= auto_link("@"+tweet.from_user).html_safe %></td>
  </tr>
  
<% end %>
</table>
<html>
